<div class="proponents">
  <tr>
    <td><%= proponent.email %></td>
    <td><%= proponent.cpf %></td>
    <td><%= number_to_currency(proponent.inss_discount) %></td>
    <td>
      <%= link_to "Ver detalhes", api_v1_proponent_path(proponent) %>
    </td>
  </tr>
</div>
